body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}


/* Headings */
.big-heading{
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;

  padding-bottom: 30px;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


.dog{
  color: #fff;
  padding-right: 15px;
}

/* Navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-toggler {
  background-color: #fff;
  color: #8f8f8f;
}

.navbar-brand {
  font-family: 'Ubuntu';
  color: white;
  font-size: 2.5rem;
}

.nav-item {
  font-family: 'Ubuntu';
  padding: 0 18px;
  color: #e9ecef;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #8f8f8f;
}

/* Title Section */
#title.conainer-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.img-des {
  position: relative;
}

.img-main {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
  padding-top: 60px;
}

/* Features */
#features {
    position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-title{
  font-size: 1.5rem;
}

.par {
  line-height: 2;
  letter-spacing: 1px;
  color: #8f8f8f
}

.mi-pic {
  color: #ef8172;
  font-size: 2.5rem;
  padding-bottom: 40px;
  margin-left: auto;
}

.mi-pic:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logos {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
.w-100 {
  width: 100%;
}

#pricing {
  padding: 100px;
}

.price-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .img-main {
    position: static;
    transform: rotate(0deg);
  }
}

/* CTA Section */
.finbtn{
    margin: 50px 10px 0;
  }
.finbtn:hover{
    opacity: 0.7;
}

  /* Footer */
  .fter-p{
    margin: 20px 10px;
  }

  .footer-text{
    color: #8f8f8f;
    margin-top: 2%
  }
